<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Car list </title>
</head>
<body>
<h2>Car list </h2>
<table border="1">
    <tr>
        <th>id</th>
        <th>model</th>
        <th>color</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
    </tr>
</table>
</body>
</html>
